header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  gap: 40px;
  .logo img {
    height: 40px;
  }
  .search {
    flex: 1;
    input {
      width: 100%;
      background-color: #f5f6f7;
      border: none;
      border-radius: 5px;
      padding: 10px;
    }
    .filters {
      display: flex;
      flex-direction: row;
      gap: 25px;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
      .price-range {
        width: 100%;
        padding-bottom: 5px;
        button {
          width: 0px;
        }
      }
      label {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
      }
    }
  }
  button {
    font-size: 12px;
    width: 120px;
  }
  .login {
    // padding: 0 10px;
    button:first-child {
      margin-right: 20px;
    }
  }
}

@media (max-width: 1024px) {
  .light-button:first-child {
    display: none;
  }
}
@media (max-width: 768px) {
  header {
    .container {
      padding-top: 10px;
      display: flex;
      height: 170px;
      justify-content: space-around;
      align-items: flex-start;
      gap: 10px;
      flex-direction: column;
      .divider.small-screen {
        display: block;
      }
      .search {
        width: 100%;
      }
    }
    .login,
    .dark-button {
      display: none;
    }
  }
}
